*  {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #efefef;
}

main {
width: 70%;
padding:50px; 
margin: auto;
background-color: #fff;
display:flex;
flex-wrap: wrap;
justify-content: center;
}

.photo {
width: calc(50% - 40px)
height: calc((35vw - 40px) / 16 * 9)
margin: 20px;
background-color: red;
background-position: center;
background-size: cover;
}

h1 {
	width: 100%;
	text-align: center;
	font-size: 48px;
}

.photo1 {
	background-image: url(C:/Users/User/Desktop/app_modul2/img/img1.jpeg);
}